h1{
    color: rgb(43, 88, 185);
    font-size: 60px;
}
p{
    color: rgb(255, 0, 34);
    font-size: 80px;
}
img{
height: 600px;
width: 460px;
}
a{
    text-decoration: none;
    border-radius: 10px;
    background-color: blanchedalmond;
    height: 200px;
    font-size: 20px;
 
}
.name{
    color:brown;
}
a:hover {
    background-color: beige;
}